body {
    font-size: 1.1rem;
    line-height: 1.3;
    letter-spacing: -0.002em;
    font-weight: 500;
    border-left-style: solid;
    border-left-width: 0px;
    padding-left: 450px;
    padding-right: 450px;
    padding-top: 100px;
}   